<body>
  <ng-toast [style]="{width:'300px'}"></ng-toast>
    <div class="track">
      <div class="container">
        <div class="steps">
          <span class="circle" [class.active]="sharedDataService.currentStep == 1">1</span>
          <span class="line"></span>
          <span class="circle" [class.active]="sharedDataService.currentStep == 2">2</span>
          <span class="line"></span>
          <span class="circle" [class.active]="sharedDataService.currentStep == 3">3</span>
          <span class="line"></span>
          <span class="circle" [class.active]="sharedDataService.currentStep == 4">4</span>
        </div>
      </div>
    </div>
  
    <div class="simcard-form-container">
    <div class="simcard-form">
      <h4>Get Mobile Number</h4>
      <form (ngSubmit)="getMobileNumber(orderId)">
        <label for="orderId">Order ID:</label>
        <input type="text" id="orderId" [(ngModel)]="orderId" name="orderId" required>
        <button type="submit">Get Mobile Number</button>
      </form>
    </div>
  
    <div class="simcard-form">
      <h4>Activate SIM Card</h4>
      <form (ngSubmit)="activateSimCard()">
        <label for="simCardNumber">Mobile Number:</label>
        <input type="text" id="simCardNumber" [(ngModel)]="simCardNumber" name="simCardNumber" required>
        <button type="submit">Activate SIM Card</button>
      </form>
    </div>
</div>
  </body>
  