.login-container {
    width: 300px;
    margin: 0 auto;
    text-align: center;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f5f5f5;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  h2 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
  }
  
  .form-group {
    margin-bottom: 20px;
    text-align: left;
  }
  
  label {
    font-size: 16px;
    display: block;
    margin-bottom: 5px;
    color: #333;
  }
  
  input[type="text"] {
    width: 96%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }
  
  button.generate-button,
  button.login-button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    color: #fff;
  }
  
  button.generate-button {
    background-color: #007BFF;
  }
  
  button.login-button {
    background-color: #28a745;
  }
  
  .error {
    color: #dc3545;
    font-size: 16px;
    margin-top: 10px;
  }
  